.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-wrapper {
  margin: 1rem;
  height: 30rem;
}
.banner {
	border: 1px black solid;
  padding: 1rem 2rem;
  position: relative;
}
.bannerText {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo {
	text-align: center;
	padding: 1.2rem;
	margin-top: 1rem;	
	width: 100%;
  margin: auto;
}
.react-autosuggest__input {
  width: 70%;
}
.react-autosuggest__suggestions-container {
  width: 70%;
}
.m-auto {
  margin: auto;
}
ul.react-autosuggest__suggestions-list {
  padding: 0;
  border: 1px black solid;
  max-height: 15rem;
  overflow: auto;
}
.react-autosuggest__suggestion {
  list-style: none;
}
button.search-button {
  margin-top: 1rem;
}
@media only screen and (max-width: 40em) { 

	.logo {
		margin-bottom: 1rem;	
	}
				
}
@media only screen and (max-width: 1023px) {
  .react-autosuggest__input, .react-autosuggest__suggestions-container {
    width: 88%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
  }
  button.search-button {
    margin: auto;
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .my-panel {
    margin: auto;
  }
}